<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ page.url | absolute_url }}">
          <h1>{{ page.title | default: site.title }}</h1>
        </a>
        <h2>{{ page.description | default: site.description }}</h2>
        
        {% if page.url == "/" %}
          <a href="/" class="button"><small>En del av</small> {{ site.title }}</a>
        {% else %}
          <a href="{{ site.context }}" class="button"><small>Titta på fler</small> Projekt</a>
        {% endif %}

      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        
        <section id="main-content">
          <div class="pagestat">
            <p>
            Uppdaterad {{ page.date | default: site.time | date_to_long_string }}
            {% if page.author.name && page.author.mail %}
              av <a href="mailto:{{ page.author.mail }}">{{ page.author.name || default: site.author.name }}</a>
            {% elsif page.author.name %}
              av {{ page.author.name }}
            {% endif %}
            </p>
          </div>
          {{ content }}
        </section>

        <!--
        <aside id="sidebar">
          
          <h3>{{ site.title }}</h3>
          <p>
            {{ site.description }}
          </p>

          <h3>Vill du vara med?</h3>
          <p>Skicka iväg ett mail till mig, <a href="mailto:{{ site.contact.mail }}">{{ site.contact.name }}</a>, så hör jag av mig så fort jag kan.</p>

          <p><i>Genererad av <a href="https://pages.github.com">GitHub Pages</a>.</i></p>
        </aside>
        -->
      </div>
    </div>

  </body>
</html>